<h1>Welcome to Test Component</h1>
<div>
Id: {{id}} <br/>
Name: {{name}} <br/>
Avg: {{avg}} <br/> <br/>

<b><u>Address</u></b> <br/>
streetNo: {{address.streetNo}}<br/>
City: {{address.city}} <br/>
State: {{address.state}} <br/><br/>

<b><u>Hobbies</u></b> <br/>
<ul>
    <li *ngFor="let hobby of hobbies"> {{hobby}}</li>
</ul>
</div>